<div class="container">
  <div class="row">
    <span class="lead my-3 col-md-4 offset-sm-1 bg-light">
      商品詳細
    </span>
  </div>
  <div class="row">
    <div class="col">
      <%= attachment_image_tag @item, :image %>
    </div>
    <div class="col">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <th>商品名</th>
            <th><%= @item.name %></th>
          </tr>
          <tr>
            <th>商品説明</th>
            <th><%= @item.introduction %></th>
          </tr>
          <tr>
            <th>ジャンル</th>
            <th><%= @item.genre_id %></th>
          </tr>
          <tr>
            <th>
              税込価格<br>
              (税抜価格)
            </th>
            <th>
              <%= @item.add_tax_price.to_s(:dalimited) %>
              (<%= @item.price %>)
            </th>
          </tr>
          <tr>
            <th>販売ステータス</th>
            <th><%= @item.is_active %></th>
          </tr>
        </tbody>
      </table>
      <div class="mt-sm-2 offset-sm-4">
        <%= link_to "編集する", edit_admin_item_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
