<div class="container">
  <div class="row">
    <div class="col mt-3">
      <span class="lead my-3 col-md-3 bg-light">
        <%= @customer.full_name %>さんの会員情報編集
      </span>
    </div>
  </div>

  <%= form_with model: @customer, url: admin_customer_path(@customer), local:true do |f| %>
    <div class="form-group row mt-md-3">
      <%= f.label :会員ID, class: "col-form-label col-md-2" %>
      <div class="col mt-md-1">
        <%= @customer.id %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :氏名, class: "col-form-label col-md-2" %>
      <div class="col-md-3">
        <%= f.text_field :last_name, class: "form-control" %>
      </div>
      <div class="col-md-3">
        <%= f.text_field :first_name, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :フリガナ, class: "col-form-label col-md-2" %>
      <div class="col-md-3">
        <%= f.text_field :last_name_kana, class: "form-control" %>
      </div>
      <div class="col-md-3">
        <%= f.text_field :first_name_kana, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :郵便番号, class: "col-form-label col-md-2" %>
      <div class="col-md-3">
        <%= f.text_field :postal_code, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :住所, class: "col-form-label col-md-2" %>
      <div class="col-md-7">
        <%= f.text_field :address, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :電話番号, class: "col-form-label col-md-2" %>
      <div class="col-md-3">
        <%= f.text_field :telephone_number, class: "form-control" %>
      </div>

    </div>
    <div class="form-group row">
      <%= f.label :メールアドレス, class: "col-form-label col-md-2" %>
      <div class="col-md-3">
        <%= f.text_field :email, class: "form-control" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :会員ステータス, class: "col-form-label col-md-2" %>
      <div class="col-md-1">
        <%= f.radio_button :is_deleted, "有効", checked: true %>有効
      </div>
      <div class="col-md-1">
        <%= f.radio_button :is_deleted, "退会" %>退会
      </div>
    </div>
    <div class="form-group row">
      <div class="actions mt-3 col-md-3 offset-md-2">
        <%= f.submit "変更を保存", class: "btn btn-success btn-sm form-control" %>
      </div>
    </div>

  <% end %>
</div>
