<div class="container">
  <div class="row">
    <span class="lead my-3 col-sm-2 offset-sm-1 bg-light">注文履歴詳細</span>
    <table class="table table-borderless">
      <tbody>
        <%= form_with model: @order, local true do |f| %>
          <tr>
            <th>購入者</th>
            <tr><%= link_to order.full_name, admin_customer_show_path(@customer) %></tr>
          </tr>
          <tr>
            <th>注文日</th>
            <th><%= order_derail.created_at('%Y/%m/%d') %></th>
          </tr>
          <tr>
            <th>配送先</th>
            <th><%= order.address %></th>
          </tr>
          <tr>
            <th>支払方法</th>
            <th><%= order.payment_method %></th>
          </tr>
          <tr>
            <th>注文ステータス</th>
            <th>
              <%= f.collection_select(:status, order, :id, :name) %>
              <%= f.submit "更新" %>
            </th>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="col">
      <table class="table">
        <thead class="thead-active">
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <%= form_with model: @order, local true do |f| %>
            <%= @order.each do |order| %>
            <tr>
              <td><%= order.item.name %></td>
              <td><%= order.order_derail.price %></td>
              <td><%= order.order_derail.amount %></td>
              <td><%= order.total_price.to_i %></td>
              <td>
                <%= f.collection_select(:order_derail.status, order, :id, :name) %>
                <%= f.submit "更新", class: "btn btn-success btn-sm" %>
              </td>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td>商品合計</td>
            <td><%= order_derail.all.sum(price) %></td>
          </tr>
          <tr>
            <td>送料</td>
            <td><%= shipping_cost %></td>
          </tr>
          <tr>
            <td>請求金額合計</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>