<div class="container mt-md-4">
  <span class="bg-light">
    <h6>管理者ログイン</h6>
  </span>

  <div class="row justify-content-start">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group col-12">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>


    </div>
    <div class="field">
    <%= f.label :パスワード %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>


  </div>
  <button type="button" class="btn btn-primary">
    ログイン
  </button>
<% end %>

<%= render "admins/shared/links" %>
</div>
