<div class="container">
  <div class="row">
    <div class="col-md-2 mt-md-4">
      <%= render 'public/list',genre:@genre %>
    </div>
    <div class="col-md-10 mt-md-4">
      <div class="row">
        <div class="col-md-10">
          <span class="lead">商品一覧</span>（全<%= @item.count %>件）
        </div>
        <% @items.each do |items| %>
          <div class="col-md-3 mt-5">
            <%= attachment_image_tag items, :image, format: 'jpeg', size: "100x100" %><br>
            <%= items.introduction %><br>
            ¥<%= items.add_tax_price.to_s(:delimited) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-auto mx-md-auto mt-md-5">
      <%= paginate @items %>
    </div>
  </div>
</div>