<div class="container">
  <div class="row">
    <div class="col-md-2 mt-md-4">
      <%= render 'public/list',genre:@genre %>
    </div>

    <div class="col-md-3 mt-md-4">
      <%= attachment_image_tag @item, :image, format: 'jpeg', size: "200x200" %>
    </div>

    <div class="col">
      <div class="row">
        <h3 class="col-md-10 mt-md-4 font-weight-bold">
          <%= @item.name %>
        </h3>
        <span class="col-md-10 mt-md-1 mb-md-5 ml-md-2">
          <%= @item.introduction %>
        </span>
      </div>
      <div class="row ml-md-2">
        <h3 class="font-weight-normal">
          ¥<%= @item.add_tax_price.to_s(:delimited) %>
        </h3>
        <span class="small ml-md-1 mt-md-2">(税込)</span>
      </div>

      <%= form_with model: @cart_item, url: cart_items_path, local:true do |f| %>
      <div class="form-group row">
        <div class="col-md-3 mt-md-4 ml-md-4">
          <%#= f.select :amount, [1,2,3,4,5,6,7,8,9,10], include_blank: "個数選択", class: "form-control form-control-lg" %>
          <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10], class: "form-control form-control-lg" %>
          <%= f.hidden_field :item_id, value: @item.id %>
        </div>
        <div class="col-md-3 mt-md-4 ml-md-4">
          <%= f.submit "カートに入れる", class: "btn btn-success btn-sm form-control" %>
        </div>
      </div>
      <% end %>
    </div>

    </div>
  </div>
</div>