<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, intial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/c5b12faeda.js" crossorigin="anonymous"></script>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="border-bottom">
      <nav class="navbar navbar-expand-sm">
        <div class="container">
          <div class="border border-dark px-sm-5">
            <span>
              <h2>LOGO</h2>
            </span>
          </div>
          <div class="p-2 bd-highlight">
            <ul class="navbar-nav mr-auto">
              <% if admin_signed_in? %>
                <li class="nav-item">
                  <div class="item mr-sm-2 p-sm-2 border rounded">
                    <%= link_to "商品一覧", admin_items_path %>
                  </div>
                </li>

                <li class="nav-item">
                  <div class="customer mr-sm-2 p-sm-2 border rounded">
                    <%= link_to "会員一覧", admin_customers_path %>
                  </div>
                </li>

                <li class="nav-item">
                  <div class="order mr-sm-2 p-sm-2 border rounded">
                    <%= link_to "注文履歴一覧", admin_root_path %>
                  </div>
                </li>

                <li class="nav-item">
                  <div class="genre mr-sm-2 p-sm-2 border rounded">
                    <%= link_to "ジャンル一覧", admin_genres_path %>
                  </div>
                </li>

                <li class="nav-item">
                  <div class="sign_out mr-sm-2 p-sm-2 border rounded">
                    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
                  </div>
                </li>

              <% elsif customer_signed_in? %>
                <li class="nav-item">
                  <div class="my mr-sm-2 p-sm-2 border rounded">
                    <%= link_to "マイページ", customer_path(current_customer) %>
                  </div>
                </li>

                <li class="nav-item">
                  <div class="item mr-sm-2 p-sm-2 border rounded">
                    <%= link_to "商品一覧", items_path %>
                  </div>
                </li>

                <li class="nav-item">
                  <div class="cart mr-sm-2 p-sm-2 border">
                    <%= link_to "カート", cart_items_path %>
                  </div>
                </li>

                <li class="nav-item">

                  <div class="sign_out mr-sm-2 p-sm-2 border rounded">
                    <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
                  </div>
                </li>

              <% else %>
                <li class="nav-item">
                  <div class="about  mr-sm-2 p-sm-2 border rounded">
                    <%= link_to "About", about_path %>
                  </div>
                </li>

                <li class="nav-item">
                  <div class="item mr-sm-2 p-sm-2 bd-highlight border rounded">
                    <%= link_to "商品一覧", items_path %>
                  </div>
                </li>

                <li class="nav-item">
                  <div class="sign_up mr-sm-2 p-sm-2 bd-highlight border rounded">
                    新規登録
                  </div>
                </li>

                <li class="nav-item">
                  <div class="sign_in mr-sm-2 p-sm-2 bd-highlight border rounded">
                    <%= link_to "ログイン", new_customer_session_path %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
